.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 0.75rem;
  border: 1px solid rgb(228, 228, 231);
  padding: 1.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.cardHeader {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-rows: auto auto;
  align-items: start;
  gap: 0.5rem;
  padding: 0 1.5rem;
  container-type: inline-size;
}

.cardHeader:has([data-slot="card-action"]) {
  grid-template-columns: 1fr auto;
}

.cardHeader.borderBottom {
  padding-bottom: 1.5rem;
}

.cardTitle {
  line-height: 1;
  font-weight: 600;
}

.cardDescription {
  color: rgb(113, 113, 122);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.cardAction {
  grid-column-start: 2;
  grid-row: span 2 / span 2;
  grid-row-start: 1;
  align-self: start;
  justify-self: end;
}

.cardFooter {
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}

.cardFooter.borderTop {
  padding-top: 1.5rem;
}

